/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url(http://fonts.googleapis.com/css?family=Roboto);
/* line 5, ../sass/modules/reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 26, ../sass/modules/reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 30, ../sass/modules/reset.scss */
body {
  line-height: 1;
}

/* line 33, ../sass/modules/reset.scss */
ol, ul {
  list-style: none;
}

/* line 36, ../sass/modules/reset.scss */
blockquote, q {
  quotes: none;
}

/* line 39, ../sass/modules/reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 44, ../sass/modules/reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Black */
/* Gray */
/* White */
/* Table of contents
==================================================
  -Imports
  -Basic styles
  -Typography
  -Links
  -Lists
  -Buttons
  -Forms
  -Misc
*/
/* Imports
================================================== */
/* Basic styles
================================================== */
/* line 21, ../sass/modules/base.scss */
body {
  background: #444;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  color: #c0c0c0;
}

/* Typography
================================================== */
/* line 31, ../sass/modules/base.scss */
h1, h2, h3, h4, h5, h6 {
  color: #f0f0f0;
}

/* line 35, ../sass/modules/base.scss */
h1 {
  font-size: 2.4rem;
  line-height: 2.6rem;
  margin-bottom: 20px;
}

/* line 41, ../sass/modules/base.scss */
h2 {
  font-size: 2rem;
  line-height: 2.2rem;
  margin-bottom: 10px;
}

/* line 47, ../sass/modules/base.scss */
h3 {
  font-size: 1.8rem;
  line-height: 2rem;
  margin-bottom: 5px;
}

/* line 53, ../sass/modules/base.scss */
h4 {
  font-size: 1.4rem;
  line-height: 1.6rem;
}

/* line 58, ../sass/modules/base.scss */
h5 {
  font-size: 1.2rem;
  line-height: 1.4rem;
}

/* line 63, ../sass/modules/base.scss */
h6 {
  font-size: 0.8rem;
  line-height: 1rem;
}

/* line 68, ../sass/modules/base.scss */
p {
  margin: 0 0 20px 0;
}

/* line 72, ../sass/modules/base.scss */
hr {
  border: solid #777;
  border-width: 2px 0 0;
}

/* Links
================================================== */
/* line 80, ../sass/modules/base.scss */
a {
  text-decoration: none;
  color: #9f9f9f;
}
/* line 84, ../sass/modules/base.scss */
a:hover {
  color: #f0f0f0;
  transition: color 300ms ease 0s;
  -webkit-transition: color 300ms ease 0s;
}

/* Lists
================================================== */
/* line 98, ../sass/modules/base.scss */
ul, ol {
  margin-bottom: 20px;
}

/* line 102, ../sass/modules/base.scss */
ul {
  list-style: inside disc;
}

/* line 106, ../sass/modules/base.scss */
ol {
  list-style: inside decimal;
}

/* Buttons
================================================== */
/* line 113, ../sass/modules/base.scss */
.btn,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  border: none;
  display: inline-block;
  padding: 1.25rem 1rem;
  background-color: #101010;
  color: #f0f0f0;
  text-align: center;
  font-size: 0.8rem;
  cursor: pointer;
  transition: background-color 350ms ease 0s;
  -webkit-transition: background-color 350ms ease 0s;
}
/* line 129, ../sass/modules/base.scss */
.btn:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover {
  background-color: #303030;
}

/* Forms
================================================== */
/* line 137, ../sass/modules/base.scss */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="range"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="date"],
input[type="time"],
input[type="datetime"],
input[type="month"],
input[type="week"] {
  border: none;
  padding: 1.25rem 1rem;
  font-size: 0.8rem;
  background-color: #c0c0c0;
  transition: background-color 150ms ease 0s;
  -webkit-transition: background-color 150ms ease 0s;
}
/* line 158, ../sass/modules/base.scss */
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="range"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="date"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="month"]:focus,
input[type="week"]:focus {
  background-color: #f0f0f0;
}

/* Misc
================================================== */
/* line 166, ../sass/modules/base.scss */
.clearfix:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
}
