/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Table of Contents
==================================================
	-Base 960 grid 
	-Tablet 
	-Mobile (portrait)
	-Mobile (landscape) */
/* Base 960 Grid
================================================== */
.container {
  position: relative;
  width: 100%;
  /* Base grid */
  /* Offsets */ }
  .container .column, .container .columns {
    float: left;
    display: inline;
    padding: 20px 0; }
  .container .one.column,
  .container .one.columns {
    width: 10%; }
  .container .two.columns {
    width: 20%; }
  .container .three.columns {
    width: 30%; }
  .container .four.columns {
    width: 40%; }
  .container .five.columns {
    width: 50%; }
  .container .six.columns {
    width: 60%; }
  .container .seven.columns {
    width: 70%; }
  .container .eight.columns {
    width: 80%; }
  .container .nine.columns {
    width: 90%; }
  .container .ten.columns {
    width: 100%; }
  .container .offset-by-one {
    margin-left: 10%; }
  .container .offset-by-two {
    margin-left: 20%; }
  .container .offset-by-three {
    margin-left: 30%; }
  .container .offset-by-four {
    margin-left: 40%; }
  .container .offset-by-five {
    margin-left: 50%; }
  .container .offset-by-six {
    margin-left: 60%; }
  .container .offset-by-seven {
    margin-left: 70%; }
  .container .offset-by-eight {
    margin-left: 80%; }
  .container .offset-by-nine {
    margin-left: 90%; }

/* Tablet
================================================== */
/* Designed for a width of 768px */
@media only screen and (min-width: 768px) and (max-width: 959px) {
  .container {
    /* Offsets */ }
    .container .one.column,
    .container .one.columns {
      width: 20%; }
    .container .two.columns {
      width: 40%; }
    .container .three.columns {
      width: 60%; }
    .container .four.columns {
      width: 80%; }
    .container .five.columns,
    .container .six.columns,
    .container .seven.columns,
    .container .eight.columns,
    .container .nine.columns,
    .container .ten.columns {
      width: 100%; }
    .container .offset-by-one {
      margin-left: 20%; }
    .container .offset-by-two {
      margin-left: 40%; }
    .container .offset-by-three {
      margin-left: 60%; }
    .container .offset-by-four {
      margin-left: 80%; }
    .container .offset-by-five,
    .container .offset-by-six,
    .container .offset-by-seven,
    .container .offset-by-eight,
    .container .offset-by-nine {
      margin-left: 0; } }
/*  Mobile (portrait)
================================================== */
/* Designed for a width of 320px */
@media only screen and (max-width: 767px) {
  .container {
    width: 320px;
    /* Offsets */ }
    .container .one.column,
    .container .one.columns,
    .container .two.columns,
    .container .three.columns,
    .container .four.columns,
    .container .five.columns,
    .container .six.columns,
    .container .seven.columns,
    .container .eight.columns,
    .container .nine.columns,
    .container .ten.columns,
    .container .eleven.columns,
    .container .twelve.columns,
    .container .thirteen.columns,
    .container .fourteen.columns,
    .container .fifteen.columns,
    .container .sixteen.columns {
      width: 320px; }
    .container .offset-by-one,
    .container .offset-by-two,
    .container .offset-by-three,
    .container .offset-by-four,
    .container .offset-by-five,
    .container .offset-by-six,
    .container .offset-by-seven,
    .container .offset-by-eight,
    .container .offset-by-nine,
    .container .offset-by-ten,
    .container .offset-by-eleven,
    .container .offset-by-twelve,
    .container .offset-by-thirteen,
    .container .offset-by-fourteen,
    .container .offset-by-fifteen {
      margin-left: 0; } }
/* Mobile (landscape)
================================================== */
/* Designed for a width of 480px */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .container {
    width: 480px; }
    .container .one.column,
    .container .one.columns,
    .container .two.columns,
    .container .three.columns,
    .container .four.columns,
    .container .five.columns,
    .container .six.columns,
    .container .seven.columns,
    .container .eight.columns,
    .container .nine.columns,
    .container .ten.columns,
    .container .eleven.columns,
    .container .twelve.columns,
    .container .thirteen.columns,
    .container .fourteen.columns,
    .container .fifteen.columns,
    .container .sixteen.columns {
      width: 480px; } }
a {
  text-decoration: none;
  color: #999; }

input[type="submit"] {
  color: #FFF;
  max-width: 12.5rem;
  width: auto; }

.btn {
  background-color: #000;
  border-color: #000;
  color: #FFF;
  transition: background-color 150ms ease 0s, border-color 150ms ease 0s, color 150ms ease 0s;
  border: 1px solid;
  padding: 1.25rem 1.6875rem;
  font-size: 0.75rem;
  text-align: center;
  vertical-align: middle; }
  .btn:hover {
    background: #4D4D4D; }

/*# sourceMappingURL=main.css.map */
