/* Table of Contents
==================================================
	-Base 960 grid 
	-Tablet 
	-Mobile (portrait)
	-Mobile (landscape) */


/* Base 960 Grid
================================================== */

	.container {
		position: relative;
		width: 100%;

		.column, .columns {
			float: left;
			display: inline;
			padding: 20px 0;
		}

		/* Base grid */
	    .one.column,
   		.one.columns                     { width: 10%;  }
    	.two.columns                     { width: 20%;  }
    	.three.columns                   { width: 30%;  }
    	.four.columns                    { width: 40%;  }
    	.five.columns                    { width: 50%;  }
    	.six.columns                     { width: 60%;  }
    	.seven.columns                   { width: 70%;  }
    	.eight.columns                   { width: 80%;  }
    	.nine.columns                    { width: 90%;  }
    	.ten.columns                     { width: 100%; }

    	/* Offsets */
    	.offset-by-one                   { margin-left: 10%; }
    	.offset-by-two                   { margin-left: 20%; }
    	.offset-by-three                 { margin-left: 30%; }
    	.offset-by-four                  { margin-left: 40%; }
    	.offset-by-five                  { margin-left: 50%; }
    	.offset-by-six                   { margin-left: 60%; }
    	.offset-by-seven                 { margin-left: 70%; }
    	.offset-by-eight                 { margin-left: 80%; }
    	.offset-by-nine                  { margin-left: 90%; }

	}


/* Tablet
================================================== */
	
	/* Designed for a width of 768px */

	@media only screen and (min-width: 768px) and (max-width: 959px) {
		.container {

			.one.column,
        	.one.columns                     { width: 20%;  }
        	.two.columns                     { width: 40%;  }
        	.three.columns                   { width: 60%; }
        	.four.columns                    { width: 80%; }
        	.five.columns,
        	.six.columns,
        	.seven.columns,
        	.eight.columns,
        	.nine.columns,
        	.ten.columns                     { width: 100%; }

        	/* Offsets */
	       	.offset-by-one                   { margin-left: 20%;  }
        	.offset-by-two                   { margin-left: 40%;  }
        	.offset-by-three                 { margin-left: 60%; }
        	.offset-by-four                  { margin-left: 80%; }
        	.offset-by-five,
        	.offset-by-six,
        	.offset-by-seven,
        	.offset-by-eight,
        	.offset-by-nine                  { margin-left: 0; }
		}
	}


/*  Mobile (portrait)
================================================== */

	/* Designed for a width of 320px */

	@media only screen and (max-width: 767px) {
		.container {
			width: 320px;

			.one.column,
        	.one.columns,
        	.two.columns,
        	.three.columns,
        	.four.columns,
        	.five.columns,
        	.six.columns,
        	.seven.columns,
        	.eight.columns,
        	.nine.columns,
        	.ten.columns,
        	.eleven.columns,
        	.twelve.columns,
        	.thirteen.columns,
        	.fourteen.columns,
        	.fifteen.columns,
        	.sixteen.columns  { width: 320px; }

        	/* Offsets */
        	.offset-by-one,
        	.offset-by-two,
        	.offset-by-three,
        	.offset-by-four,
        	.offset-by-five,
        	.offset-by-six,
        	.offset-by-seven,
        	.offset-by-eight,
        	.offset-by-nine,
        	.offset-by-ten,
        	.offset-by-eleven,
        	.offset-by-twelve,
        	.offset-by-thirteen,
        	.offset-by-fourteen,
        	.offset-by-fifteen { margin-left: 0; }
		}
	}

/* Mobile (landscape)
================================================== */

	/* Designed for a width of 480px */

	@media only screen and (min-width: 480px) and (max-width: 767px) {
		.container {
			width: 480px;

			.one.column,
        	.one.columns,
        	.two.columns,
        	.three.columns,
        	.four.columns,
        	.five.columns,
        	.six.columns,
        	.seven.columns,
        	.eight.columns,
        	.nine.columns,
        	.ten.columns,
        	.eleven.columns,
        	.twelve.columns,
        	.thirteen.columns,
        	.fourteen.columns,
        	.fifteen.columns,
        	.sixteen.columns { width: 480px; }
		}
	}
