// Groofr color palette
$brand: #ff9800;
$brand-dark: #f57c00;
$brand-light: #ffa726;
/* Black */
$black: #303030;
/* Gray */
$gray: #9e9e9e;
$gray-dark: #757575;
$gray-light: #bdbdbd;
/* White */
$white: #fafafa;
$white-dark: #e0e0e0;
